.left_mnu_mobile_dropdown
	.burger_wrapper
		.burger_item
		.burger_item
		.burger_item
.logo_wrapper
	a(href="#")
		.logo_image.display_inline.bgi
		.logo_text.display_inline Readle
.right_dropdown_mnu_mobile
	<i class="fa fa-user" aria-hidden="true"></i>		