.book_top_wrapper.book_result_margin
	.book_name_wrapper
		.book_img_wrapper
			img(src="img/avatar.png", alt="avatar")
		.book_title_wrapper
			.book_top_title
				a(href="#").book_title Как творить а не вытворять
				span.book_likes +106
			.book_bottom_title
				.author_title.display_inline Автор
				a(href="#").author_name=name
	.book_filters_wrapper.table_book
		.left_table_book
			+book_filter_item_tolink('Фэндом:','Роулинг Джоан «Гарри Поттер»','Роулинг Джоан «Гарри Поттер» (кроссовер)')
			+book_filter_item('Пейринг или персонажи:','Гарри Поттер/Северус Снейп')
			+book_filter_item('Рейтинг:','NC-17')
			+book_filter_item('Жанры:','Слеш')
			+book_filter_item('Предупреждения:','Мэри Сью (Марти Стью)')
			+book_filter_item('Размер:','Слеш')
			+book_filter_item('Статус:','В процессе')
		.right_table_book
			.book_filter_item.book_filter_description
				.book_filter_title Описание:
				p Ежедневно читайте поэзию. Поэзия хороша тем, что разминает мышцы мозга, которые мы задействуем крайне редко. Поэзия развивает чувства и держит их в тонусе. Она помогает нам осознавать собственный нос, глаза, уши, язык и руки. И самое главное, поэзия — концентрированная метафора или сравнение. Эти метафоры, как японские бумажные цветы, могут развертываться в гигантские фигуры. Идеи разбросаны по всем книгам стихов, однако мне редко когда доводилось слышать, чтобы преподаватели писательского мастерства рекомендовали студентам читать поэзию.
				p © Бредбери, “Дзен в искусстве написания книг”