.big_avatar_wrap
	img(src="img/big-avatar.jpg", alt="avatar" class="big_avatar")
.top_buttons_wrap
	a(href="#" class="send_message") Отправить сообщение
	a(href="#" class="regular_reader") Стать постоянным читателем
.bottom_buttons_wrap
	ul.bottom_buttons_list
		+button_bottom('Произведения','(43)')
		+button_bottom('Постоянные читатели','(43)')
		+button_bottom('Соавтор','(43)')
		+button_bottom('Произведения','(43)')
		+button_bottom('Редактор(Бета)','(43)')
		+button_bottom('Заявки','(43)')
		+button_bottom_nocol('Избранное')
		+button_bottom_nocol('Отзывы и критика')

