.user_page_name_wrap
	span.user_page_name Черная овечка
	span.status_user_comment.user_author автор
	span.status_user_comment.user_critic критик
.comment_author_text_wrap.italic.darken
	p Я здесь потому, что Readle.ru — совсем молодой портал, на котором нехватает авторов. Присоединяйтесь к нам, пока тут не стало не протолкнуться!
.about_yourself_title.leave_rewiew_text О себе
.about_yourself_block
	p Конечно, каждый из нас кормился сначала жизнью, а потом книгами и журналами. Разница в том, что какие-то из событий мы глотаем легко, а какие-то впихиваем в себя насильно.
	p Если мы собираемся кормить подсознание правильно, как подготовить меню?
	p Список можно начать вот с чего:
	p Ежедневно читайте поэзию. Поэзия хороша тем, что разминает мышцы мозга, которые мы задействуем крайне редко. Поэзия развивает чувства и держит их в тонусе. Она помогает нам осознавать собственный нос, глаза, уши, язык и руки. И самое главное, поэзия — концентрированная метафора или сравнение. Эти метафоры, как японские бумажные цветы, могут развертываться в гигантские фигуры. Идеи разбросаны по всем книгам стихов, однако мне редко когда доводилось слышать, чтобы преподаватели писательского мастерства рекомендовали студентам читать поэзию.
	p © Бредбери, “Дзен в искусстве написания книг”
.record_title_wrap
	.record_title_left Записи:
	.record_title_right 
		a(href="#").all_message Ко всем сообщениям
ul.record_list_wrap
	li
		.author_comment_wrapper.border_comment
			.author_comment_avatar
				a(href="#" class="author_comment_link link_avatar")
					img(src=avatar, alt="avatar")
			.author_comment_right_wrapper
				.author_comment_top_wrapper
					a(href="#" class="author_comment_link link_text name") Творческая_Крейзи
				.author_comment_center_wrapper
					.comment_author_text_wrap.no_bg.comment_dark
						p Супер
				.author_comment_bottom_wrapper.comment_b_wrap
					.left_bottom_author
						span.author_comment_date 5 июл в 2:06
						span.slash_author |
						a(href="#" class="write_comment_link") Коментировать
					.right_bottom_author
						.book_read_likes_item.comment_likes
							a(href="#")
								span.me_like.pink Мне нравиться
								span.bgi.bg_likes
								span.likes_col.pink 1000
						.book_read_likes_item.comment_likes
							a(href="#")
								span.bgi.bg_favorit
								span.favorit_col 1000
	li
		.author_comment_wrapper.border_comment
			.author_comment_avatar
				a(href="#" class="author_comment_link link_avatar")
					img(src=avatar, alt="avatar")
			.author_comment_right_wrapper
				.author_comment_top_wrapper
					a(href="#" class="author_comment_link link_text name") Творческая_Крейзи
				.author_comment_center_wrapper
					.comment_author_text_wrap.no_bg.comment_dark
						p Супер
				.author_comment_bottom_wrapper.comment_b_wrap
					.left_bottom_author
						span.author_comment_date 5 июл в 2:06
						span.slash_author |
						a(href="#" class="write_comment_link") Коментировать
					.right_bottom_author
						.book_read_likes_item.comment_likes
							a(href="#")
								span.me_like.pink Мне нравиться
								span.bgi.bg_likes
								span.likes_col.pink 1000
						.book_read_likes_item.comment_likes
							a(href="#")
								span.bgi.bg_favorit
								span.favorit_col 1000