-if(book==false)
	.accordion_wrapper
		+accardion_wrap('Топ по...')
		+accardion_wrap('В категориях')
		+accardion_wrap('Рейтинг')
		+accardion_wrap('Предупреждения')
		+accardion_wrap('Фандомы')
		+accardion_wrap('Персонажи')
		+accardion_wrap('Отношения')
		+accardion_wrap('Жанры')

