.accardion_dropdown_wrap
	ul.accardion_list
		+accardion_item('Новизне')
		+accardion_item('Подписчикам')
		+accardion_item('Лайкам')
		+accardion_item('Объему текста')
		+accardion_item('Производительности')
		+accardion_item('Коментариям')
		+accardion_item('Рецензиям')
		+accardion_item_active('Отзывам')